@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');
$padding: 8px;
$margin: 8px;

$radius: 4px;

$color-head: #000000;
$color-name: #FFFFFF;
$color-text: #988F8F;
$color-text-actors: #E5E5E5;
$bg-color-head: rgba(250, 40, 40, 0.98);
$bg-color-item: #4D4747;
$bg-color-poster: #C4C4C4;

$shadow-head: 0px 8px 7px rgba(0, 0, 0, 0.28);
$shadow-item: 0px 4px 4px rgba(0, 0, 0, 0.25);

$poster-box-size: 168px;

$margin-btw-items: 16px;

$checkbox-checked-color: #FF5252;
$checkbox-border-color: #C4C4C4;
$checkbox-active-color: #f78080;
$checkbox-focus-color: #f7808094;